#container
{
	margin: 0 auto;
	width: 940px;
	background-color: #fff;

}

body {
	background-image:url('bgnoise.png');
}

pre {
	background-color:#cdc;
	margin-right:20px;
}

#navigation
{
	width: 500px;
	background: #565;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	position:absolute;
	margin-left:400px;
	top:85px;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: right;
	padding: 5px 10px;
	height:2em;
	line-height:2em;
	text-decoration: none;
}

#content
{
	clear: left;
	float: left;
	padding: 1.5em 0;
	margin: 0 0 0 1.5em;
	display: inline;
}

#content h2 { margin: 0; }

#content p {
}

div.tool {
	position:relative;
	padding-bottom:0.0em;
	padding-left:1em;
	margin-bottom: 1em;
}

p.tooltitle {
	padding: 0em 0 0.0em 0em;
	margin: 8px 0 12px 0;
	font-weight:bold;
	font-size:1.2em;
}

p.tags {
	padding: 0em 1.5em 0 1em;
	float:left;
	font-weight:bold;
	font-size:0.75em;
	word-spacing:0.5em;
	color: grey;
	float:right;
}

p.tooldescription {
	padding: 0.5em 1.5em 0 0em;
	margin: 0em 0 0.5em 0;
	text-align:justify;
	text-justify:inter-word;
}

img.toolimage {
	float:left;
	margin-left:0em;
	padding: 0.5em 1.5em 1.0em 0em;
}

a.downloadtool {
	font-family:helvetica;
	clear: both;
	background-color: #e07006;
	border: 0 none;
	border-radius: 25px;
	color: white;
	font-size: 1.0em;
	font-weight: bold;
	height: 34px;
	line-height: 34px;
	padding: 0.0em 0.5em 0.0em 0.5em;
	margin-left:0;
	margin-right:1em;
	float:right;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

#sidebar
{
	float: right;
	width: 255px;
	padding: 1.5em 0;
	margin: 0 1.5em 0 0;
	display: inline;
}

#aside h3 { margin: 0; }
